<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="fa fa-tachometer"></i> 仪表盘</a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-thumbs-up"></i> 行业电商市场分析</a>
                    <ul class="nav-dropdown-items">
                        <!-- <li class="nav-item">
                            <a class="nav-link"><i class="icon-puzzle"></i> Todo</a>
                        </li> -->
                    </ul>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-shopping-cart"></i> 品牌口碑分析</a>
                    <ul class="nav-dropdown-items">
                        <!-- <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-cny"></i> 价格</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-line-chart"></i> 销量</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/monitor/comment']"><i class="fa fa-comments"></i> 评论</a>
                        </li> -->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/monitor/comment']"><i class="fa fa-comments"></i> 评论分析</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>
