// div {
//     border: 1px solid black;
// }

.float {
    float: left;
}

.float-right {
    float: right;
}

.comment-container {
    .screening-condition-container {
        background-color: white;
        width: 98%;
        overflow: auto;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;

        .clearFloat {
            overflow: auto;
        }

        #category {
            width: 200px;
        }

        #datepicker1 {
            margin-right: 10px;
        }

        #datepicker2 {
            margin-left: 10px;
        }

        hr {
            border-style: dashed;
            margin-top: 7px;
        }

        .time-granularity label {
            margin-right: 20px;
        }
    }

    .line-chart {
        width: 100%;
        height: 400px;
        margin-top: 20px;
        padding: 15px;
    }

    .radar-chart-container {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        overflow: auto;
    }

    .radar-chart {
        width: 100%;
        height: 100%;
        padding: 15px;
    }

    .white-radar-chart:first-child {
        margin-right: 2%;
    }

    .white-line-chart {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        background-color: white;
    }

    .white-radar-chart {
        width: 49%;
        height: 450px;
        background-color: white;
    }

    .top-ten-table-container {
        overflow: auto;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }

    .top-ten-table {
        width: 49%;
        height: 350px;
        background-color: white;
    }

    .top-ten-table:first-child {
        margin-right: 2%;
    }
}

.btn:hover {
    cursor: pointer;
}