// div {
//     border: 1px solid black;
// }

.float {
    float: left;
}

.float-right {
    float: right;
}

.comment-container {
    .screening-condition-container {
        background-color: white;
        width: 1040px;
        overflow: auto;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;

        .checkbox-inline {
            margin-right: 10px;
        }

        .clearFloat {
            overflow: auto;
        }

        #category {
            width: 200px;
        }

        #datepicker1 {
            margin-right: 10px;
        }

        #datepicker2 {
            margin-left: 10px;
        }

        hr {
            border-style: dashed;
            margin-top: 7px;
        }

        .time-granularity label {
            margin-right: 20px;
        }
    }

    .white-line-chart {
        margin-left: auto;
        margin-right: auto;
        width: 1040px;
        background-color: white;
    }

    .radar-chart-container {
        width: 1040px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        overflow: hidden;
    }

    .white-radar-chart:first-child {
        margin-right: 40px;
    }

    .white-radar-chart {
        width: 500px;
        height: 450px;
        background-color: white;
    }

    .top-ten-table-container {
        overflow: auto;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 1040px;

        .top-ten-table {
            width: 500px;
            height: 350px;
            background-color: white;
        }

        .top-ten-table:first-child {
            margin-right: 40px;
        }
    }

    .tag-cloud-container {
        overflow: auto;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 1040px;

        .tag-cloud {
            width: 500px;
            height: 350px;
            background-color: white;
        }

        #tag_cloud_1 {
            margin-right: 40px;
        }
    }
}

.btn:hover {
    cursor: pointer;
}