<div class="animated fadeIn comment-container">
    <div class="screening-condition-container">
        <h6>筛选条件</h6>
        <div class="clearFloat">
            <span class="float">目标种类：</span>
            <div class="form-group float">
                <select id="category">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="clearFloat">
            <span class="float">可选品牌：</span>
            <div class="float">
                <input type="checkbox" value="option1"> 全选
                <div>
                    <label class="checkbox-inline">
                        <input type="checkbox"> 飞利浦
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox"> oralB(欧乐B)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox"> 高露洁
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox"> 狮王
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="clearFloat">
            <span class="float">电商平台：</span>
            <div class="float">
                <input type="checkbox" value="option1"> 全选
                <div>
                    <label class="checkbox-inline">
                        <input type="checkbox"> 天猫
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox"> 京东
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox"> 一号店
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox"> 贝贝网
                    </label>
                </div>
            </div>
        </div>
        <div>
            <span>时间范围：</span>
            <md-input-container id="datepicker1">
                <input mdInput [mdDatepicker]="picker1" placeholder="Choose a date">
                <button mdSuffix [mdDatepickerToggle]="picker1"></button>
            </md-input-container>
            <md-datepicker #picker1></md-datepicker>
            <span>到</span>
            <md-input-container id="datepicker2">
                <input mdInput [mdDatepicker]="picker2" placeholder="Choose a date">
                <button mdSuffix [mdDatepickerToggle]="picker2"></button>
            </md-input-container>
            <md-datepicker #picker2></md-datepicker>
        </div>
        <div class="time-granularity">
            <span>时间粒度：</span>
            <label class="radio-inline" for="inline-radio1">
                <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> 周
            </label>
            <label class="radio-inline" for="inline-radio2">
                <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> 月
            </label>
        </div>
        <hr>
        <button class="btn btn-primary float-right">查询</button>
    </div>
    <div class="white-line-chart">
        <div echarts [options]="commentChartOption" class="line-chart"></div>
    </div>
    <div class="white-line-chart">
        <div echarts [options]="emotionChartOption" class="line-chart"></div>
    </div>
    <div class="radar-chart-container">
        <div class="white-radar-chart float">
            <div echarts [options]="commentRadarChartOption" class="radar-chart"></div>
        </div>
        <div class="white-radar-chart float">
            <div echarts [options]="emotionRadarChartOption" class="radar-chart"></div>
        </div>
    </div>
    <div class="top-ten-table-container">
        <div class="card-block top-ten-table float">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Date registered</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Yiorgos Avraamu</td>
                        <td>2012/01/01</td>
                        <td>Member</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Avram Tarasios</td>
                        <td>2012/02/01</td>
                        <td>Staff</td>
                        <td>
                            <span class="badge badge-danger">Banned</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Quintin Ed</td>
                        <td>2012/02/01</td>
                        <td>Admin</td>
                        <td>
                            <span class="badge badge-default">Inactive</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Enéas Kwadwo</td>
                        <td>2012/03/01</td>
                        <td>Member</td>
                        <td>
                            <span class="badge badge-warning">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Agapetus Tadeáš</td>
                        <td>2012/01/21</td>
                        <td>Staff</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-block top-ten-table float">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Date registered</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Yiorgos Avraamu</td>
                        <td>2012/01/01</td>
                        <td>Member</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Avram Tarasios</td>
                        <td>2012/02/01</td>
                        <td>Staff</td>
                        <td>
                            <span class="badge badge-danger">Banned</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Quintin Ed</td>
                        <td>2012/02/01</td>
                        <td>Admin</td>
                        <td>
                            <span class="badge badge-default">Inactive</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Enéas Kwadwo</td>
                        <td>2012/03/01</td>
                        <td>Member</td>
                        <td>
                            <span class="badge badge-warning">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Agapetus Tadeáš</td>
                        <td>2012/01/21</td>
                        <td>Staff</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
