<div class="animated fadeIn comment-container">
    <div class="screening-condition-container">
        <h6>筛选条件</h6>
        <div class="clearFloat">
            <span class="float">目标种类：</span>
            <div class="form-group float">
                <select id="category" [(ngModel)]="condition.selectedCategory" (change)="changeSelect()">
                    <option *ngFor="let cg of category">{{cg.category}}</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="clearFloat">
            <span class="float">可选品牌：</span>
            <div class="float">
                <input type="checkbox" (click)="toggleAllBrand($event.target.checked)"> 全选
                <div>
                    <label class="checkbox-inline" *ngFor="let brand of brands">
                        <input type="checkbox" [(ngModel)]="condition.selectedBrand[brand.brand]"> {{brand.brand}}
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="formErrors.brands" class="text-danger">
            *{{formErrors.brands}}
        </div>
        <hr>
        <div class="clearFloat">
            <span class="float">电商平台：</span>
            <div class="float">
                <input type="checkbox" (click)="toggleAllPlatform($event.target.checked)"> 全选
                <div>
                    <label class="checkbox-inline" *ngFor="let platform of platforms">
                        <input type="checkbox" [(ngModel)]="condition.selectedPlatform[platform]"> {{platform}}
                    </label>
                </div>
            </div>
        </div>
        <div>
            <span>时间范围：</span>
            <md-input-container id="datepicker1">
                <input mdInput [mdDatepicker]="picker1" placeholder="选择一个日期" [(ngModel)]="condition.timeRange.startDate" disabled>
                <button mdSuffix [mdDatepickerToggle]="picker1"></button>
            </md-input-container>
            <md-datepicker #picker1></md-datepicker>
            <span>到</span>
            <md-input-container id="datepicker2">
                <input mdInput [mdDatepicker]="picker2" placeholder="选择一个日期" [(ngModel)]="condition.timeRange.endDate" disabled>
                <button mdSuffix [mdDatepickerToggle]="picker2"></button>
            </md-input-container>
            <md-datepicker #picker2></md-datepicker>
        </div>
        <div *ngIf="formErrors.timeRanges" class="text-danger">
            *{{formErrors.timeRanges}}
        </div>
        <div class="time-granularity">
            <span>时间粒度：</span>
            <label class="radio-inline" for="inline-radio1">
                <input type="radio" id="inline-radio1" name="inline-radios" value="w" [(ngModel)]="condition.timeGranularity"> 周
            </label>
            <label class="radio-inline" for="inline-radio2">
                <input type="radio" id="inline-radio2" name="inline-radios" value="m" [(ngModel)]="condition.timeGranularity"> 月
            </label>
        </div>
        <div *ngIf="formErrors.granularity" class="text-danger">
            *{{formErrors.granularity}}
        </div>
        <hr>
        <button type="submit" class="btn btn-primary float-right" (click)="search()">查询</button>
    </div>
    <div class="white-line-chart">
        <h5>评论量趋势</h5>
        <hr>
        <app-line-chart [data]="comment_count" [legend]="selectedBrandArray"></app-line-chart>
    </div>
    <div class="white-line-chart">
        <h5>情感趋势</h5>
        <hr>
        <app-line-chart [data]="sentiment" [legend]="selectedBrandArray"></app-line-chart>
    </div>
    <div class="radar-chart-container">
        <div class="white-radar-chart float">
            <h5>各维度评论量对比</h5>
            <hr>
            <app-radar-chart [data]="count_dimension" [legend]="selectedBrandArray"></app-radar-chart>
        </div>
        <div class="white-radar-chart float">
            <h5>各维度情感指数对比</h5>
            <hr>
            <app-radar-chart [data]="sentiment_dimension" [legend]="selectedBrandArray"></app-radar-chart>
        </div>
    </div>
    <div class="tag-cloud-container">
        <div class="float tag-cloud" *ngFor="let brand of selectedBrandArray; index as i">
            <h5>{{brand}} 评论热词</h5>
            <hr>
            <div class="tag-cloud-box" [id]="'tag_cloud_' + i"></div>
        </div>
    </div>
    <div class="top-ten-table-container">
        <div class="top-ten-table float" *ngFor="let top10 of top10_topic">
            <h5>{{top10.brand}} Top 10评论话题</h5>
            <hr>
            <table class="table table-striped" *ngIf="top10.list && top10.list.length >= 10">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>话题分类</th>
                        <th>序号</th>
                        <th>话题分类</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let temp of tempArray; index as i">
                        <td>{{i+1}}</td>
                        <td>
                            <span>{{top10.list[i].key}}</span>
                            <span>(<a (click)="getCommentDetail(top10.brand, top10.list[i].key)">{{top10.list[i].value}}</a>)</span>
                        </td>
                        <td>{{i+6}}</td>
                        <td>
                            <span>{{top10.list[i+5].key}}</span>
                            <span>(<a (click)="getCommentDetail(top10.brand, top10.list[i+5].key)">{{top10.list[i+5].value}}</a>)</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div bsModal #lgModal="bs-modal" class="modal fade my-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="comment_detail && comment_detail.currentPagelist && comment_detail.currentPagelist.length != 0">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{comment_detail.category}} {{comment_detail.brand}} {{comment_detail.topic}} 的相关评论</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="comments" *ngFor="let comment of comment_detail.currentPagelist">
                    <div class="comment_username float">{{comment.username}}</div>
                    <div class="full_comment float">
                        <div>{{comment.comment}}</div>
                        <div class="full_comment_date">{{comment.date}}</div>
                    </div>
                </div>
                <div class="page">
                    <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="6" [rotate]="false" [boundaryLinks]="true" firstText="首页" lastText="尾页" previousText="上页" nextText="下页" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event, comment_detail.brand, comment_detail.topic)"></pagination>
                </div>
            </div>
        </div>
        <div class="modal-content" *ngIf="comment_detail && comment_detail.currentPagelist && comment_detail.currentPagelist.length == 0">
            <div class="modal-header">
                <h4 class="modal-title pull-left">暂无相关评论</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
